.content{
    font-family: 'DM Sans', sans-serif;
    background-color: #000012;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem;
    justify-items: center;
}

.content li{
    list-style-type: none;  
    padding: 0;
    margin: 1rem 0; 
}

.content a{
    text-decoration: none;
    color: #fcf7ff;
    font-size: 15px;
}

.content p{
    color: #fcf7ff;
    margin: 1rem 0;
}

